html,
body {
  background: #000;
  height: 100%;
}

#root {
  height: 100%;
}

#user-menu-dropdown~.dropdown-menu {
  left: unset !important;
  right: 0 !important;
}

#layout {
  width: 100%;
  height: 100%;
  padding-top: 56px !important;
}

.h-100 {
  height: 100%;
}