.btn-pill {
	border-radius: 1.2rem !important;
}
.btn-square {
	border-radius: 0 !important;
}

$primary: #457b9d;
$brand: #bc4749;
$red: $brand;
$secondary: #3d405b;
$tertiary: #74aa91;
$light: #d8e2dc;

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

$font-family-sans-serif: 'Noto Sans', sans-serif;

$link-color: $brand;
$link-decoration: none;
$link-shade-percentage: 20%;
$link-hover-color: shift-color($link-color, $link-shade-percentage);
$link-hover-decoration: underline;

$spacers: (
	0: 0,
	1: $spacer * 0.25,
	2: $spacer * 0.5,
	3: $spacer,
	4: $spacer * 1.5,
	5: $spacer * 3,
	6: $spacer * 5
);

$theme-colors: (
	primary: $primary,
	brand: $brand,
	brand-400: $red-400,
	secondary: $secondary,
	tertiary: $tertiary,
	light: $light,
	gray-100: $gray-100,
	gray-200: $gray-200,
	gray-500: $gray-500,
	gray-600: $gray-600,
	gray-700: $gray-700,
	'white': $white,
	dark: $black,
	danger: $red-500
);

$body-color: $secondary;

.navbar-border {
	border-top: 5px solid $red-500;
	border-bottom: 1px solid $gray-300;
}

.icon-button {
	all: unset;
	cursor: pointer;
	&:hover {
		opacity: 0.75;
	}
	&:focus {
		color: var(--bs-btn-hover-color);
		background-color: var(--bs-btn-hover-bg);
		border-color: var(--bs-btn-hover-border-color);
		box-shadow: var(--bs-btn-focus-box-shadow);
	}
	&:focus-visible {
		outline: -webkit-focus-ring-color auto 1px;
		outline-offset: 1px;
	}
	&.icon-button-lg {
		font-size: 1.3rem;
	}
}

.combobox-see-all-results:hover {
	background-color: $secondary;
	color: white;
}

#secondary-navigation .list-group-item:not(.active) {
	transition: 0.2s linear background-color;
	&:hover {
		background-color: $gray-200;
	}
}

.o-1 {
	opacity: 0.8;
}

@import '~bootstrap/scss/bootstrap';

.modal-date-picker .react-datepicker__day--selected {
	background-color: $light;
	color: $secondary;
	&:hover {
		background-color: $secondary;
		color: white;
	}
}