.btn-pill {
	border-radius: 1.2rem !important;
}
.btn-square {
	border-radius: 0 !important;
}

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

$spacers: (
	0: 0,
	1: $spacer * 0.25,
	2: $spacer * 0.5,
	3: $spacer,
	4: $spacer * 1.5,
	5: $spacer * 3,
	6: $spacer * 5
);

$primary: #457b9d;
$brand: #bc4749;
$red: $brand;
$secondary: #3d405b;
$tertiary: #74aa91;
$light: #d8e2dc;

$brand: $red;

$theme-colors: (
	primary: $primary,
	brand: $brand,
	brand-400: $red-400,
	secondary: $secondary,
	secondary-gray: $gray-600,
	tertiary: $tertiary,
	light: $gray-200,
	lightish: $light,
	gray-100: $gray-100,
	gray-200: $gray-200,
	gray-300: $gray-300,
	gray-400: $gray-400,
	gray-500: $gray-500,
	gray-600: $gray-600,
	gray-700: $gray-700,
	'white': $white,
	dark: $gray-900,
	danger: $red-500,
	success: $green-500,
	blue: $blue-500,
	info: $info,
	warning: $warning,
);

$font-family-sans-serif: 'Noto Sans', sans-serif;

$link-color: $primary;
$link-decoration: underline;
$link-shade-percentage: 20%;
$link-hover-color: none;
$link-hover-decoration: none;

// a:not(.no-custom) {
// 	transition: 0.25s linear opacity;
// 	&:hover {
// 		opacity: 0.6;
// 	}
// }

$enable-caret: false;

$body-color: $secondary;

$faded-secondary: rgba($secondary, 0.5);

.no-underline {
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}

.recipe-card-image {
	&:hover .recipe-card-image-overlay,
	.recipe-card-image-overlay.reveal {
		opacity: 1;
		background-color: rgba($secondary, 0.7);
		color: white;
	}
	.recipe-card-image-overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		display: flex;
		justify-content: center;
		align-items: center;
		opacity: 0;
		transition: 0.2s ease-out opacity, 0.2s ease-out background-color, 0.2s ease-out color;
		color: transparent;
		background-color: transparent;
	}
}

.navbar-border {
	border-top: 5px solid $red-500;
	border-bottom: 1px solid $gray-300;
}

.icon-button {
	all: unset;
	cursor: pointer;
	&:hover {
		opacity: 0.75;
	}
	&:focus {
		color: var(--bs-btn-hover-color);
		background-color: var(--bs-btn-hover-bg);
		border-color: var(--bs-btn-hover-border-color);
		box-shadow: var(--bs-btn-focus-box-shadow);
	}
	&:focus-visible {
		outline: -webkit-focus-ring-color auto 1px;
		outline-offset: 1px;
	}
	&.icon-button-lg {
		font-size: 1.3rem;
	}
}

.combobox-see-all-results:hover {
	background-color: $secondary;
	color: white;
}

#secondary-navigation .list-group-item:not(.active) {
	transition: 0.2s linear background-color;
	&:hover {
		background-color: $gray-200;
	}
}

.o-1 {
	opacity: 0.8;
}

@import '~bootstrap/scss/bootstrap';

.modal-date-picker .react-datepicker__day--selected {
	background-color: $light;
	color: $secondary;
	&:hover {
		background-color: $secondary;
		color: white;
	}
}

.flex-1 {
	flex: 1;
}

.nav-drop,
#nav-dropdown {
	&::after {
		display: none;
	}
	.dropdown-menu {
		right: 0;
		position: absolute;
		left: inherit !important;
	}
}

.min-h-100 {
	min-height: 100%;
}

.override_drp {
	.react-datepicker__day--keyboard-selected {
		background-color: transparent !important;
		color: $secondary !important;
		font-weight: bold;

		&.react-datepicker__day--in-range.react-datepicker__day--selected {
			background-color: $brand !important;
			color: white !important;
		}
	}
}

.fade-in {
	opacity: 0;
	transition: opacity 0.5s ease-in;
	&.fade-in-active {
		opacity: 1;
	}
}

.nav-icon {
	font-size: 1.5rem;
}

// scss-docs-start breadcrumb-variables
$breadcrumb-divider-color: 'white';
$breadcrumb-active-color: $gray-600;
// scss-docs-end breadcrumb-variables

.breadcrumb-item {
	+ .breadcrumb-item::before {
		// content: '>' !important;
		color: #fff !important;
	}
	&.active {
		color: $light;
	}
	& a {
		text-decoration: none !important;
	}
}

// $grid-breakpoints: (
//   xs: 0,
//   sm: 576px,
//   md: 768px,
//   lg: 992px,
//   xl: 1200px,
//   xxl: 1400px
// ) !default;

.navbar-ref-height {
	margin-top: 63px;
}

@media only screen and (min-width: 768px) {
	.navbar-ref-height {
		margin-top: 67.5px;
	}
}

.recipe-card {
	.header-text {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		font-weight: 600;
		width: 100%;
	}
}

.active.list-group-item {
	background-color: $secondary;
	border-color: $secondary;
	color: white;
}